button {
  min-width: 32px;
  height: 32px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  background-color: var(--color-primary);
  color: var(--color-dark);
  border: none;
  border-radius: 1rem;
  transition: all ease 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-hover);
}

button svg {
  width: 20px;
  height: 20px;
}

.button--no-padding {
  padding: 0;
}

.button--danger {
  background-color: var(--color-danger);
  color: var(--color-light);
}

.button--danger:hover {
  background-color: var(--color-danger-hover);
}
