*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 1rem;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}

:root {
  --color-primary: #1fb6ff;
  --color-primary-text: #273444;
  --color-primary-hover: #218fc7;
  --color-dark: #273444;
  --color-dark-hover: #1b222a;
  --color-light: #d3dce6;
  --color-light-hover: #ffffff;
  --color-danger: #dc2626;
  --color-danger-hover: #991b1b;
  --color-card-background: #151c25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

p,
span {
  font-weight: 500;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}
